# Ignore when copying repo into container (docker build -f notebooks/Dockerfile .)
.git
.gitignore
*.pyc
__pycache__
.pytest_cache
.mypy_cache
*.egg-info
.venv
venv
env
outputs
*.pdb
*.csv
!alphafold_predictor/models/*.joblib
!alphafold_predictor/models/*.pth
!alphafold_predictor/models/*.json
